#table-container {
    display: flex;
    justify-content: space-evenly;
}

#table-container > div {
    width: 15%;
}

.column {
    text-align: center;
}
.column p {
    text-align: center;
    height: 2.5rem;
}

#form-container {
    display: none;
}

.column button {
    padding: 0 0.5rem;
    height: 1.2rem;
    border: none;
    display: block;
    border-radius: 2px;
    margin: 0 auto 1.3rem auto;
}